* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 1140px;
}

a {
  text-decoration: none;
}
button{
  cursor: pointer;
  border: none;
}
body{
  font-family:"Poppins", sans-serif;
}
$accent-color:#45ADA8;
$text-padding:26px;